#pragma code_page(65001)
1 VERSIONINFO
FILEVERSION 0, 1, 0, 0
PRODUCTVERSION 0, 1, 0, 0
FILEOS 0x40004
FILEFLAGSMASK 0x3f
FILETYPE 0x1
FILEFLAGS 0x0
FILESUBTYPE 0x0
{
BLOCK "StringFileInfo"
{
BLOCK "000904b0"
{
VALUE "ProductName", "installer"
VALUE "FileVersion", "0.1.0"
VALUE "ProductVersion", "0.1.0"
VALUE "FileDescription", "installer"
}
}
BLOCK "VarFileInfo" {
VALUE "Translation", 0x9, 0x04b0
}
}
1 ICON "C:\\Users\\tarik\\code\\gaben\\installer\\assets"
1 24
{
}

